#container {
  height: auto;
  width: 100%;
  margin: auto;
}

#header {
  text-align: center;
  padding: 10px 10px;
  font-family: arial 20px;
  font-weight: bold;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  text-align: center;
  margin: 0 auto;
}

/* Links inside the navbar */
#navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#container{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
#navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#content {
  background-color: pink;
  overflow: hidden;
  text-align: center;
  height: 500px;
  padding-bottom: 20px;
}

#content img{
  height: 150px;
  width: 200px;
}
#content h1{
  color: white;
  letter-spacing: 10px;
  font-size: 90px;
  font-family: arial;
  font-weight: 800;
}

#content2 {
  border: solid;
  border-style: dashed;
  background-color: lightgrey;
  text-align: center;
  overflow: hidden;
}

#content h2{
  font-family: "Arial Narrow", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}

input {
  width: 30%;
  padding: 12px 20px;
  border-radius: 4px;
  margin-top: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
}

input[type=radio] {
  background-color: lightgrey;
  margin-top: 20px;
  width: 5%;
}

input[type=text]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 20px;
}

textarea{
  margin-top: 20px;
  width: 30%;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  resize: none;
}

.submit {
  margin-bottom: 50px;
}

#footer {
  background-color: black;
  overflow: hidden;
  color: white;
  width: 100%;
  text-align: center;
}

#footer ul {
  float: left;
  width: 28%;
}

#footer .contact {
  margin-left: 2.5%;
}

@media screen and (max-width: 620px){
  #content h1{
    font-size: 60px;
  }

  #content h2{
    font-size: 20px;
  }

  input {
    width: 60%;
  }

  textarea{
    width: 60%;
  }

   #footer ul {
        padding: 5px;
        float: none;
        width: 100%;
    }

    #footer .contact {
        margin-left: 0%;
    }
}