/* Navbar container */
#container {
    height: auto;
    width: 100%;
    margin: auto;
}

#header {
    text-align: center;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 10px;
    font-family: arial 20px;
    font-weight: bold;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  text-align: center;
  margin: 0 auto;
}

/* Links inside the navbar */
#navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#container{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
#navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: orange;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* content  */
#content {
    background-image: url("assets/282860-P61N1Z-483.jpg");
    background-size: 150%;
    background-position-x: center;
    background-position-y: top;
    overflow: hidden;
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;
}

#content h1{
    font-size: 80px;
    margin-bottom: 60;
}

#content h3 {
    margin-top: 0;
    font-size: 30px;
    font-family: "Times New Roman", sans-serif;
    color: orange;
    background-color: black;
}

.content1 {
    width: 100%;
    height: 300px;
    padding: 20px;
    text-align: center;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #333;
}

.content1 .image {
    margin-left: 50px;
    width: 25%;
    height: 80%;
    display: inline-block;
}

.content1 .image img {
    width: 100%;
    height: 100%;
}

.content1 .txt {
    margin-top: 0;
    text-align: center;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.content1 .txt h4 {
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #FF6161;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 35px;
}

.content1 .txt h5 {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0px;
    color:white;
    font-weight: lighter;
    font-size: 15px;
}

#footer {
    background-color: black;
    overflow: hidden;
    text-align: center;
    color: white;
    width: 100%;
}

#footer ul {
    display: inline-block;
    width: 30%;
}

@media screen and (max-width: 620px) {

    #content{
      height: 440px;
    }

    .content1{
      padding: 0px;
      height: 450px;
    }

    .content1 .image{
        width: 80%;
        height: 45%;
        margin-left: 0px;
        margin-top: 20px;
    }

    .content1 .txt {
        width: 80%;
    }

  #footer ul {
        padding: 5px;
        float: none;
        width: 100%;
    }

    #footer .contact {
        margin-left: 0%;
    }
}