#container {
    height: auto;
    width: 100%;
    margin: auto;
    background-color: #e8e8e8;
}

#header {
    text-align: center;
    background-color: white;
    padding: 10px 10px;
    font-family: arial 20px;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    text-align: center;
    margin: 0 auto;
}

/* Links inside the navbar */
#navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#container{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
#navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: orange;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Content */
#content {
    display: table;
    text-align: center;
    padding: 20px;
    height: 300px;
    width: 100%;
    background-color: lightblue;
}

#content h1 {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    color: white;
    font-family: Arial;
    font-size: 75px;
}

#content1{
    width: 100%;
    height: 330px;
    background-color: white;
    display: inline-block;
    overflow: hidden;
}

#content1 .conimg{
    width: 50%;
    display: inline-block;
}

#content1 img{
    width: 100%;
    height: 330px;
}

#content1 .part1{
    float: left;
    width: 49%;
}

#content1 .contxt {
    width: 49%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#content1 .contxt h4 {
    margin-top: 50px;
    font-family: "Arial Narrow",sans-serif;
    color: pink;
    font-size: 25px;
}

#content1 .contxt h5 {
    font-family: "Arial Narrow",sans-serif;
    color: black;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
}

.toDessert {
  margin-top: 30px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.toCoffee {
  margin-top: 30px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#footer {
    background-color: black;
    overflow: hidden;
    color: white;
    width: 100%;
    text-align: center;
}

#footer ul {
    float: left;
    width: 28%;
}

#footer .contact {
    margin-left: 2.5%;
}

@media screen and (max-width: 620px) {

    #content1{
        height: 660px;
    }

    #content1 .part1{
        float: none;
        width: 100%;
    }

    #content1 .conimg{
        width: 25%;
    }

    #content1 .conimg img{
        height: 100px;
        margin-top: 100px;
    }

    #content1 .contxt {
        width: 70%;
    }

    #footer ul {
        padding: 5px;
        float: none;
        width: 100%;
    }

    #footer .contact {
        margin-left: 0%;
    }
}